---
import Header from "../components/Header.astro";
import AnimatedLogo from "../components/AnimatedLogo.astro";
import Layout from "../layouts/Layout.astro";
import AnimatedSeparator from "../components/AnimatedSeparator.astro";
import Code from "../components/Code.astro";
import Link from "../components/Link.astro";
---

<Layout title="FleapWEB">
  <Header />
  <div class="flex items-center flex-col justify-center h-[500px]">
    <div
      style="background-color: rgba(255, 0, 0, 0.2); border-color: rgba(255, 0, 0, 0.4);"
      class="rounded-full border py-1 px-4 text-white font-medium"
    >
      ⚠ Página ainda não está pronta ⚠
    </div>
    <AnimatedLogo />
  </div>
  <div class="w-full border-y border-zinc-600 bg-[#303030] p-8">
    <div id="about" class="mx-auto max-w-2xl">
      <div class="w-full flex flex-col items-center justify-center">
        <div class="w-32">
          <AnimatedSeparator />
        </div>
        <h1 class="p-4 text-white text-xl font-bold tracking-tight">About</h1>
        <p class="text-base text-justify text-zinc-400 mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus
          nam quae pariatur eum ullam laborum nulla perferendis nisi, maiores
          voluptates sit a? Doloremque distinctio enim, libero ipsam blanditiis
          omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
          possimus nam quae pariatur eum ullam laborum nulla perferendis nisi,
          maiores voluptates sit a? Doloremque distinctio enim, libero ipsam
          blanditiis omnis.
        </p>
        <Code>
          <span class="code-warn font-bold">AVISO:</span>
          <span class="code">{" "}Página em manutenção</span>
          <br />
          <span class="code-warn font-bold">AVISO:</span>
          <span class="code">{" "}Página em manutenção</span>
          <br />
          <span class="code-warn font-bold">AVISO:</span>
          <span class="code">{" "}Página em manutenção</span>
          <br />
          <span class="code-warn font-bold">AVISO:</span>
          <span class="code">{" "}Página em manutenção</span>
          <br />
        </Code>
      </div>
    </div>
  </div>
  <div id="links" class="mx-auto max-w-2xl">
    <div class="w-full flex flex-col items-center justify-center p-8">
      <h1 class="p-4 text-white text-xl font-bold tracking-tight mb-2">
        Links
      </h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 justify-around">
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
        <Link title="Polaris" href="https://polaris.fleap.dev">
          <img width="75px" height="75px" src="/polaris.svg" alt="" />
        </Link>
      </div>
    </div>
  </div>

  <div class="w-full border-y border-zinc-600 bg-[#303030] p-8 mt-8">
    <div class="mx-auto max-w-2xl">
      <div class="w-full flex flex-col items-center justify-center">
        <div class="w-32">
          <AnimatedSeparator />
        </div>
        <h1 class="p-4 text-white text-xl font-bold tracking-tight">Another</h1>
        <p class="text-base text-justify text-zinc-400 mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus
          nam quae pariatur eum ullam laborum nulla perferendis nisi, maiores
          voluptates sit a? Doloremque distinctio enim, libero ipsam blanditiis
          omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
          possimus nam quae pariatur eum ullam laborum nulla perferendis nisi,
          maiores voluptates sit a? Doloremque distinctio enim, libero ipsam
          blanditiis omnis.
        </p>
      </div>
    </div>
  </div>
  <div class="p-8">
    <h1 class="text-center">
      <a href="mailto:fleap@fleap.dev" class="text-white font-bold"
        >fleap@fleap.dev</a
      >
    </h1>
  </div>
</Layout>

<style></style>
